body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    color: darkblue;
    text-align: center;
}

.info {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.info p strong {
    font-size: 20px;
    color: blue;
}
